APP_PORT=4000
POSTGRES_PASSWORD=replace-this-local-database-password
AUTH_SECRET=replace-with-at-least-32-random-characters
COOKIE_SECURE=false
TRUST_PROXY=false
PUBLIC_BASE_URL=
TABLE_CODE_TTL_MINUTES=720
